@model GymProject.Models.ViewModels.EjerciciosVM

<head>
    <link href="~/css/categorias/index.css" rel="stylesheet" />
</head>

<main id="main" class="main">
    <div class="dashboard">
        <h1 class="dashboard-title">Gestión de Ejercicios</h1>
        <button class="btn mb-4" data-toggle="modal" data-target="#modalAgregar" id="agregarEjercicio">
            <span class="material-icons">add</span> Agregar Ejercicio
        </button>

        <div class="category-card">
            <div class="card-body">
                <h5 class="card-title">
                    <span class="material-icons">fitness_center</span> Ejercicios
                </h5>
                 @if (Model != null && Model.Ejercicios.Any())
                {
                      <table class="table datatable" id="tablaEjercicios">
                        <thead>
                            <tr>
                                <td>Id</td>
                                <td>Nombre</td>
                                <td>Categorias</td>
                                <td></td>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var ejercicio in Model.Ejercicios)
                            {
                                <tr>
                                    <td>@ejercicio.IdEjercicio</td>
                                    <td>@ejercicio.Nombre</td>
                                    <td>
                                        <div class="d-flex">
                                            @foreach(var categoria in ejercicio.Categorias)
                                            {
                                                <span class="badge bg-secondary me-1">@categoria.Nombre</span>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button"
                                                class="btnEditarEjercicio btn btn-primary"
                                                data-id="@ejercicio.IdEjercicio"
                                                data-nombre="@ejercicio.Nombre"
                                                data-categorias="@string.Join(",", ejercicio.Categorias.Select(c => c.Nombre))">
                                            <span class="material-icons">
                                                edit
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="no-categories">No existen ejercicios registrados</p>

                }
            </div>
        </div>
    </div>

    <!-- Modal para agregar nuevo ejercicio -->
    <div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <span class="material-icons">add_circle</span> Agregar Nuevo Ejercicio
                    </h5>

                </div>
                <form method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label asp-for="Nombre" class="form-label">Ejercicio</label>
                            <input type="text" asp-for="Nombre" class="form-control" id="txtNombre" required/>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Categorias" class="form-label">Categorias</label>
                            <select class="form-select" asp-items="@Model.Categorias" asp-for="CategoriaSeleccionada" multiple id="ddlAgregarCategoria" required>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal para editar ejercicio -->
    <div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarModalLabel">
                        <span class="material-icons">edit</span> Editar Ejercicio
                    </h5>
                </div>
                <form method="post" asp-controller="Ejercicios" asp-action="EditarEjercicio">
                    <input asp-for="IdEjercicio" type="text" class="form-control" name="IdEjercicio" id="editId" hidden required/>

                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="txtEditarNombre" class="form-label">Ejercicio</label>
                            <input asp-for="Nombre" type="text" class="form-control" id="txtEditarNombre" name="Nombre" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Categorias" class="form-label">Categorias</label>
                            <select class="form-control" asp-items="@Model.Categorias" asp-for="CategoriaSeleccionada" multiple id="ddlEditarCategoria" style="width:100%" required>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</main>


<script src="~/js/ejercicios/ejercicios.js"></script>
