@model GymProject.Models.ViewModels.EjerciciosVM

<head>
    <link href="~/css/categorias/index.css" rel="stylesheet" />
</head>

<main id="main" class="main">
    <div class="dashboard">
        <h1 class="dashboard-title">Gestión de Ejercicios</h1>
        <button class="btn btn-outline-primary mb-4" data-toggle="modal" data-target="#modalAgregar">
            <span class="material-icons">add</span> Agregar Ejercicio
        </button>

        <div class="category-card">
            <div class="card-body">
                <h5 class="card-title">
                    <span class="material-icons">fitness_center</span> Ejercicios
                </h5>
                 @if (Model != null && Model.Ejercicios.Any())
                 {
                      <table class="table datatable" id="tablaCategorias">
                        <thead>
                            <tr>
                                <td>Id</td>
                                <td>Nombre</td>
                                <td>Categorias</td>
                                <td></td>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var ejercicio in Model.Ejercicios)
                            {
                                <tr>
                                    <td>@ejercicio.IdEjercicio</td>
                                    <td>@ejercicio.Nombre</td>
                                    <td>
                                        <div class="d-flex">
                                            @foreach(var categoria in ejercicio.Categorias)
                                            {
                                                <span class="badge bg-secondary me-1">@categoria.Nombre</span>
                                            }
                                        </div>
                                    </td>

                                    <td>
                                        <a href="#" class="btn btn-outline-primary editar-ejercicio" data-toggle="modal" data-target="#modalEditar"
                                           data-id="@ejercicio.IdEjercicio" data-nombre="@ejercicio.Nombre"
                                           data-categorias='@System.Text.Json.JsonSerializer.Serialize(ejercicio.Categorias.Select(c => c.Nombre))'>
                                            Editar
                                        </a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="no-categories">No existen ejercicios registrados</p>

                }
            </div>
        </div>
    </div>

    <!-- Modal para agregar nuevo ejercicio -->
    <div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <span class="material-icons">add_circle</span> Agregar Nuevo Ejercicio
                    </h5>

                </div>
                <form method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label asp-for="Nombre" class="form-label">Ejercicio</label>
                            <input type="text" asp-for="Nombre" class="form-control" id="txtNombre" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Categorias" class="form-label">Categorias</label>
                            <select class="form-select" asp-items="@Model.Categorias" asp-for="CategoriaSeleccionada" multiple>
                                <option selected disabled>Selecciona una categoria</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal para editar ejercicio -->
    <div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarModalLabel">
                        <span class="material-icons">edit</span> Editar Ejercicio
                    </h5>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="txtEditarNombre" class="form-label">Ejercicio</label>
                            <input type="text" class="form-control" id="txtEditarNombre" name="Nombre" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Categorias" class="form-label">Categorias</label>
                            <select class="form-select" asp-items="@Model.Categorias" asp-for="CategoriaSeleccionada" multiple>
                                <option selected disabled>Selecciona una categoria</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="@Url.Content("~/js/Ejercicios/Index.js")" asp-append-version="true"></script>
